/* 
    Created on : 3.10.2014, 11:29:07
    Author     : Jindřich Máca
*/
ul {
    list-style-type: none;
}
#page {
    margin: 20px;
    margin-top: 0;
}
#header h1 {
    text-align: center;
    font-size: 36pt;
}
#content {
    clear: both;
}
#content, #header h2, .navbar {
    text-align: center;
}
.navbar-brand {
    display: block;
    float: none;
}
.alert {
    padding: 5px;
    text-align: center;
}
.nav-stacked li {
    margin: 10px 0;
}
.btn-group {
    padding: 0;
}
.btn-group a {
    color: white;
    text-decoration: none;
}
.form-group {
    margin-right: 20px;
}
.info, .error, #header span {
    font-weight: 700;
}
.checkbox input[type=checkbox] {
    margin-left: 0;
}
.checkbox td {
    margin-right: 20px;
    display: inline-block;
}
.bold {
    font-weight: 700;
}
.alert-info {
    display: block;
    margin-top: 10px;
}
.padding {
    padding-left: 40px;
}
.buttons {
    text-align: left;
}
.buttons a {
    margin-bottom: 10px;
    display: inline-block;
}
.buttons a:last-child {
    margin-bottom: 0;
}
.retry {
    margin-bottom: 20px;
}
.render {
    margin-right: 20px;
    margin-left: -20px;
}
.error-code {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #d9534f;
    margin-right: 10px;
}
.table {
    table-layout: fixed;
    word-wrap: break-word;
}
.table th {
    text-align: center;
}
.reduced-svg-graph svg, .svg-graph svg {    
    width: 100%;
    height: 100%;
}

/*resolution widder than 768xp*/
@media (min-width: 768px) {
    .form-horizontal {
        margin: 0 auto;
        float: none;
    }
    .form-login {
        width: 500px;
    }
    .form-signup {
        width: 730px;
    }
}
/*Table responsive layout*/
@media (max-width: 1024px) {
    /* Generic Styling, for Desktops/Laptops */
    table { 
        width: 100%; 
        border-collapse: collapse; 
    }
    /* Zebra striping */
    tr:nth-of-type(odd) { 
        background: #eee; 
    }
    th { 
        background: #333; 
        color: white; 
        font-weight: bold; 
    }
    td, th { 
        padding: 6px; 
        border: 1px solid #ccc; 
        text-align: left; 
    }

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative; 
    }
    .table > tbody > tr > td {
        padding-left: 50%;
    }

    .table .buttons br {
        display: none;
    }

    .table-hover>tbody>tr:hover>td {
        background-color: inherit;
    }

    .table .btn {
        margin: 0 10px 0 0;
    }

    td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }

    /* Label the data */
    .checkup-table td:nth-of-type(1):before { content: "#"; }
    .checkup-table td:nth-of-type(2):before { content: "Start URL"; }
    .checkup-table td:nth-of-type(3):before { content: "State"; }
    .checkup-table td:nth-of-type(4):before { content: "Date created"; }
    .checkup-table td:nth-of-type(5):before { content: "Desired tests"; }
    .checkup-table td:nth-of-type(6):before { content: "Max depth"; }
    .checkup-table td:nth-of-type(7):before { content: "Page limit"; }
    .checkup-table td:nth-of-type(8):before { content: "Domain allowed"; }
    .checkup-table td:nth-of-type(9):before { content: "Actions"; }
    .message-table td:nth-of-type(1):before { content: "URL"; }
    .message-table td:nth-of-type(2):before { content: "Type"; }
    .message-table td:nth-of-type(3):before { content: "Message"; }
    .message-table td:nth-of-type(4):before { content: "Location"; }
}
