/* CSS Document */
body {
  color: white;
  background-color: black;
}
div {
  color: red;
}
#single {
  color: blue;
}
.single {
  color: green;
}
#multi {
  color: purple;
}
.multi {
  color: gray;
}
.multi-inner {
  color: aqua;
}
#first {
  color: chocolate;
}
#last {
  color: fuchsia;
}
